from gcr.io/clementine-data/fedora-%DISTRO%-i386-base

run rpm --import https://src.fedoraproject.org/rpms/fedora-repos/raw/master/f/RPM-GPG-KEY-fedora-%DISTRO%-primary
run rm -rf /usr/lib/locale/locale-archive /var/cache/yum/*

entrypoint ["/bin/setarch", "i386"]
